[Package]
version: 1
depends: 

[Product]
type: localboot
id: teska-driver-inf
name: teska-driver-inf
description: installiert double driver files welche im Dir drivers liegen
advice: 
version: 1.2
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: driversubdir
multivalue: False
editable: True
description: Select Driver Sub Directory for finer granulation. Dir has to exist!
values: ["HP600G3", "HP600G4", "a357", "a555"]
default: []

[ProductProperty]
type: unicode
name: driverremove
multivalue: False
editable: True
description: Select drivername to remove, e.g. bth.inf
values: ["bth.inf"]
default: []

[Changelog]
teska-driver-inf (1.2-1) testing; urgency=low

  * added zerts support and remove driver support

teska-driver-inf (1.1-1) testing; urgency=low

  * Initial package

 -- ak <kratzer@lmz-bw.de>  Wed, 13 Nov 2019 11:43:53 +0000


